<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kircherelectronics.accelerationexplorer"
    android:versionCode="13"
    android:versionName="3.2.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.LoggerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.DiagnosticActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.VectorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.GaugeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.NoiseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.config.FilterConfigActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.kircherelectronics.accelerationexplorer.activity.config.NoiseConfigActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>